<% include header %>

<h1 class="text-center mb-3">Create a New Campground</h1>
<form action="/campground" method="POST">
    <div class="row mb-3" style="margin-left:33.33%">
        <input type="text" placeholder="name" name="name" class="form-control col-6">
    </div>
    <div class="row mb-3" style="margin-left:33.33%">
        <input type="text" placeholder="image" name="image" class="form-control col-6">
    </div>
    <div class="row mb-3" style="margin-left:33.33%">
        <input type="text" placeholder="description" name="description" class="form-control col-6">
    </div>

    <div class="row" style="margin-left:33.33%">
        <button class="btn btn-primary btn-block col-6" >submitt</button>
    </div>
    
</form>

<% include footer %>

